---
layout: archive
permalink: /categories/
title: "Blog Posts"
author_profile: true
---

{% include base_path %}

{% assign ordered_categories = "Continual Learning,Automatic Speech Recognition,Small Experiments,Reflections" | split: "," %}

{% comment %} Render the curated categories first, in the order defined above {% endcomment %}
{% for category in ordered_categories %}
  {% assign posts = site.categories[category] %}
  {% if posts %}
    <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
    {% for post in posts %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% comment %} Render any remaining categories not listed above {% endcomment %}
{% for cat_pair in site.categories %}
  {% assign cat_name = cat_pair[0] %}
  {% unless ordered_categories contains cat_name %}
    <h2 id="{{ cat_name | slugify }}" class="archive__subtitle">{{ cat_name }}</h2>
    {% for post in cat_pair[1] %}
      {% include archive-single.html %}
    {% endfor %}
  {% endunless %}
{% endfor %}
